<template>
  <div>
    <Header />

    <body>
      <div class="form-group">
        <h3>Register</h3>
        <form>
          <label for="fname">First Name</label>
          <input
            type="text"
            id="fname"
            name="firstname"
            placeholder="Your first name.."
            class="input-group"
            v-model="forms.first_name"
          />
          <label for="lname">Last Name</label>
          <input
            type="text"
            id="lname"
            name="lastname"
            placeholder="Your last name.."
            class="input-group"
            v-model="forms.last_name"
          />
          <label for="lname">Email</label>
          <input
            type="email"
            id="lname"
            name="lastname"
            placeholder="Your email.."
            class="input-group"
            v-model="forms.email"
          />
          <label for="lname">Password</label>
          <input
            type="password"
            id="lname"
            name="lastname"
            placeholder="Your email.."
            class="input-group"
            v-model="forms.password"
          />

          <label for="gender">Gender</label>
          <select id="gender" class="input-group" name="gender" v-model="forms.gender">
            <option value="" selected>Select</option>
            <option v-for="(gen, i) in genders" :key="i" :value="gen.id">
              {{ gen.name }}
            </option>
          </select>

          <label for="city">Kota</label>
          <select id="city" class="input-group" name="city" v-model="forms.city">
            <option value="" selected>Select</option>
            <option v-for="(city, i) in cities" :key="i" :value="city">
              {{ city.city }}
            </option>
          </select>

          <label for="province">Province</label>
          <select id="province" class="input-group" name="province" v-model="forms.province_id">
            <option value="" selected>Select</option>
            <option v-for="(prov, i) in provinceShow" :key="i" :value="prov.id">
              {{ prov.province }}
            </option>
          </select>
          <span>
            Have a account ? <a href="/login" class="link">Login</a>
          </span>

          <input type="submit" value="Submit" class="btn-submit" />
        </form>
      </div>
    </body>

    <Footer />
  </div>
</template>

<script>
import Header from "@/components/layouts/Header";
import Footer from "@/components/layouts/Footer";
export default {
  components: {
    Header,
    Footer,
  },
  data() {
    return {
      forms : {
        first_name : null,
        last_name : null,
        email : null,
        password : null,
        gender : '',
        city : '',
        province_id : '',
      },
      cities: [
        {
          id: 1,
          city: "Bogor",
          province: "Jawa Barat",
          province_id: 1,
        },
        {
          id: 2,
          city: "Jakarta",
          province: "DKI Jakarta",
          province_id: 2,
        },
        {
          id: 3,
          city: "Bandung",
          province: "Jawa Barat",
          province_id: 1,
        },
        {
          id: 4,
          city: "Bekasi",
          province: "Jawa Barat",
          province_id: 1,
        },
        {
          id: 5,
          city: "Garut",
          province: "Jawa Barat",
          province_id: 1,
        },
      ],
      provinces: [
        {
          id: 1,
          province: "Jawa Barat"
        },
        {
          id: 2,
          province: "DKI Jakarta"
        }
      ],
      provinceShow : [],
      genders: [
        {
          id: 1,
          name: "Male"
        },
        {
          id: 2,
          name: "Female"
        }
      ],
    };
  },
  watch: {
    'forms.city' () {
      const tempsProvinces = []
      this.provinces.forEach(el => {
        if (this.forms.city.province_id === el.id) {
          const obj = {
            id: el.id,
            province: el.province
          }
          tempsProvinces.push(obj)
        }
      });
      this.provinceShow = tempsProvinces
    }
  },
};
</script>
