<template>
  <div>
    <Header />

    <body>
      <div class="form-group">
        <h3>Login</h3>
        <form>
          <label for="lname">Email</label>
          <input
            type="email"
            id="lname"
            name="lastname"
            placeholder="Your email.."
            class="input-group"
            v-model="forms.email"
          />
          <label for="lname">Password</label>
          <input
            type="password"
            id="lname"
            name="lastname"
            placeholder="Your email.."
            class="input-group"
            v-model="forms.password"
          />

          <span>
            Not have a account ? <a href="/" class="link">Register</a>
          </span>

          <input type="submit" value="Submit" class="btn-submit" />
        </form>
      </div>
    </body>

    <Footer />
  </div>
</template>

<script>
import Header from "@/components/layouts/Header";
import Footer from "@/components/layouts/Footer";
export default {
  components: {
    Header,
    Footer,
  },
  data() {
    return {
      forms : {
        first_name : null,
        last_name : null,
        email : null,
        password : null,
        gender : '',
        city : '',
        province_id : '',
      },
    }
  }
};
</script>
