<template>
    <header class="site-header">
        <div class="site-identity">
            <a href="#"><img src="http://via.placeholder.com/400" alt="Site Name"/></a>
            <h1><a href="#">Website</a></h1>
        </div>
        <!-- <nav class="site-navigation">
            <ul class="nav">
                <li><a href="#">Login</a></li>
            </ul>
        </nav> -->
    </header>
</template>
